


.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.single-word{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-weight: 700;
}
.btn-items{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}

/* Banner stles ............. */

.head-banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.text-banner{
    max-width: 580px;
}
.h4-text{
    font-size: 45px;
    font-weight: 600;
}
/* Onek jaigai use kora hosse  */
.bg-colour{
    background-color: #f7ebe4;
}

/* main sectin styles  */

main{
    max-width: 1140px;
    margin: 0px auto;
}

/* Section part start from here  */
main section{
    margin: 100px;
}
.first-section{
    border-radius: 10px;
    padding: 130px 150px;
    
    text-align: center;
}
.section-div{
    background-color: aliceblue;
}
.section-title{
    font-size: 30px;
}
.section-description{
    margin: 40px 15px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
    margin-bottom: 0px;
}

/* Second section tools  */

.second-title{
    text-align: center;
}

/* skill tools  */

.skill-container{
    display: flex;
    gap: 24px;
    margin: 60px 10px;
}

.skil-card{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgb(0,0,0,0.06);
    border-radius: 10px;
}

/* column resume section 
 */
.section-title{
    text-align: center;
    margin: 50px 0px;
}

hr{
    opacity: 0.5;
}
.resume-column-title{
    font-size: 30px;
    font-weight: 600px;
}
 .resume-container{
    display: flex;
    gap: 0px 40px 0px 0px;
    justify-content: space-between;
 }
 .experience{
    width: 510px;
    height: 172px;
    padding-right: 30px;
    margin: 30px 0px ;
 }
 .Download-btn{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    text-align: center;
 }
 .btn-class{
    text-align: center;
 }